*{

}
body {
    background-image: url("images/background.jpg");
    background-color: #cccccc;
	}

html{
	background-color: 
}

#container{
	width: 1000px;
	margin: 0 auto;
}

#gametitle{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 49pt;
	font-family: arial;
	color: white;
	margin: 0 auto;
	margin-top: 85px;
	margin-bottom: -16px;
	padding: 0px;
	text-align: center;
}

hr{
	margin:0 auto;
	width: 1000px;
}

#box1{
	height: 75px;
	width: 1000px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 49pt;
	font-family: arial;
	color: #95a5a6;
	text-align: center;
	display: inline-flex;
}

#box2{
	height: 100px;
	width: 1000px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 49pt;
	font-family: arial;
	color: white;
	text-align: center;
	display: inline-flex;
}

#box1A{
	width: 500px;
	font-size: 33pt;
	margin-top: 25px;
}

#box1B{
	width: 500px;
	font-size: 33pt;
	margin-top: 25px;
}

#playerMove{
	width: 500px;
	height: 50px;
	font-size: 27pt;
	margin-top: 20px;
}
#computerMove{
	width: 500px;
	height: 50px;
	font-size: 27pt;
	margin-top: 20px;
}

#commboxtype{
	margin-top: 53px;
	font-size: 35pt;
}

#playercomputerpicktitle{
	margin-top: 53px;
	font-size: 35pt;
	display: inline-block;
}

.buttonsdiv{
	display: inline-block;
	width: 1000px;
	text-align: center;
}

button{
	width: 250px;
	height: 50px;
	font-size: 11pt;
	font-weight: bold;
	text-transform: uppercase;
	border: 0px;
	margin: 25px;
	background-color:gray;
}

button:hover { 
  width: 250px;
	height: 50px;
	font-size: 11pt;
	font-weight: bold;
	text-transform: uppercase;
	border: 0px;
	margin: 25px;
	background-color:darkgrey;
}

#ScoreNumbers{
	width: 1000px;
	display: inline-block;
	margin-bottom: 20px;
}

.scorebox{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 50%;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 35pt;
	font-family: arial;
	color: white;
	text-align: center;
	float: left;
	display: inline-block;
}

#box3{
	height: 75px;
	width: 1000px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 49pt;
	font-family: arial;
	color: #95a5a6;
	text-align: center;
	display: inline-flex;
}

#box4{
	height: 75px;
	width: 1000px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 49pt;
	font-family: arial;
	color: #95a5a6;
	text-align: center;
	display: inline-flex;
}

#scorebox1{
	width: 500px;
	font-size: 33pt;
	margin-top: 25px;
}

#scorebox2{
	width: 500px;
	font-size: 33pt;
	margin-top: 25px;
}

#playerScore{
	width: 500px;
	height: 50px;
	font-size: 27pt;
	margin-top: 20px;
	margin-bottom: 30px;
	color: white;
}

#computerScore{
	width: 500px;
	height: 50px;
	font-size: 27pt;
	margin-top: 20px;
	margin-bottom: 30px;
	color: white;
}

#completebox{
	height: 150px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 49pt;
	font-family: arial;
	color: #95a5a6;
	text-align: center;
	margin-top: 25px;
}





















